.NavSecond {
  position: fixed;
  width: 100%;
  top: 68px;
  z-index: 1;
}

.Nav__body {
  background-color: rgba(255, 255, 255, 0.77);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.Nav__bodyMenu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.Nav__body svg {
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.Nav__body svg:hover {
  opacity: 0.5;
}

.Nav__bodyMenu a {
  text-decoration: none;
  color: #3e4444;
  transition: 0.5s ease-in-out;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 16px;
}
.Nav__bodyMenu a:hover,
.Nav__bodyMenu button:hover {
  opacity: 0.5;
}

.Nav__bodyMenu button {
  color: #3e4444;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  letter-spacing: 1px;
  cursor: pointer;
}
