.ButtonNavLeft {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  transition: 0.3s;
  max-width: 300px;
  img {
    width: 60px;
  }
}

.ButtonNavLeftTopImg {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: 0.3s;
  max-width: 100%;
  text-align: start;
}

.ButtonNavLeft__button {
  height: 50px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  border-bottom-width: 0;
}

.ButtonNavLeft__button:hover {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
